h1.cardTitle{
    font-weight: 700;   
}
.kpi-positive {
    font-size: xx-large;
    color: #028048;
  
}
.kpi-negative {
    font-size: xx-large;
  color: #c23934;
}

.icon {
    margin-top: 3px;
    
}

.text-bold{
    font-weight: 700;
}